* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
}

nav {
  box-sizing: border-box;
  height: 100vh;
  width: 20%;
  background: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

main {
  box-sizing: border-box;
  height: 100vh;
  width: 80%;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
}

.cat-view {
  height: 50%;
  width: 100%;
}

section {
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  position: relative;
}

input {
  height: 2em;
}

form button {
  font-size: 0.8em;
  margin-top: 10px;
}

.cat-button {
  width: 10vw;
  font-size: 2em;
}

.cat-wrapper {
  margin: auto;
}

.admin-button {
  position: absolute;
  right: 20vw;
  top: 10vh;
  font-size: 2em;
}

.hidden {
  display: none;
}
